*{
	margin: 0;
	padding: 0;
}
.details{
	display: block;
}
.sidenav{
	width: 40vw;
	height: 100vh;
	background-color: darkslategray;
	color: white;
	font-size: 1.5em;
}

input{
	height:2em;
}

li{
	cursor:pointer;
}

#content{
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
}

button{
	background-color: black;
	border:none;
	color:white;
	padding: 0.5em;
	font-size: 0.7em;
	font-family: Arial,sans-serif;
}

#map{
	height: 100vh;
	background-color: yellow;
	width: 70vw;
	flex-grow:1;
}

.openbtn,.closebtn{
	display: none;
}

@media screen and (max-width: 1024px){
	.openbtn{
		display: block;
	}
	.closebtn{
		display: inline-block;
		font-size: 1em;
	}
	.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    color: white;
    background-color: darkslategray;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*select{
	background-color: black;
	color: white;
	/*overflow-y: scroll;*/


.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    /*font-size: 36px;*/
    margin-left: 50px;
}
}