*{
	margin: 0;
	padding: 0;
}
.details{
	display: block;
}
.sidenav{
	width: 40vw;
	height: 100vh;
	background-color: black;
	color: white;
	font-size: 1.2em;
	/*overflow-y: scroll;*/
}

h4{
	padding: 1vh 0;
	text-align: center;
}

li{
	cursor:pointer;
	padding:1vh;
	color: white;
}

select{
	font-size: 0.9em;
	width:10em;
}

#content{
	display: flex;
	flex-wrap: nowrap;
}

button{
	background-color: darkcyan;
	border:none;
	color:white;
	padding: 0.5em;
	font-size: 0.7em;
	margin-bottom: 1vh;
	margin-left: 1vh;
	margin-top: 1vh;
	font-family: Arial,sans-serif;
}

#map{
	height: 100vh;
	background-color: yellow;
	width: 70vw;
	flex-grow:1;
}

.openbtn,.closebtn{
	display: none;
}

.openbtn{
	margin:0;
}

li:hover {
	background-color: darkgray;
}
@media screen and (max-width: 1024px){
	.openbtn{
		display: block;
	}
	.closebtn{
		display: inline-block;
	}
	.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    /*font-size: 36px;*/
    margin-left: 50px;
}
}